<form action="{% url 'process_form' %}"  method="post">
      {% csrf_token %}
      <div class="form-row">
      <div class="form-group">
        <label for="input1">State</label>
        <select id="input1" name="input1">
  <option value="Andaman and Nicobar">Andaman and Nicobar</option>
  <option value="Andhra Pradesh">Andhra Pradesh</option>
  <option value="Assam">Assam</option>
  <option value="Chattisgarh">Chattisgarh</option>
  <option value="Goa">Goa</option>
  <option value="Gujarat">Gujarat</option>
  <option value="Haryana">Haryana</option>
  <option value="Himachal Pradesh">Himachal Pradesh</option>
  <option value="Jammu and Kashmir">Jammu and Kashmir</option>
  <option value="Karnataka">Karnataka</option>
  <option value="Kerala">Kerala</option>
  <option value="Madhya Pradesh">Madhya Pradesh</option>
  <option value="Maharashtra">Maharashtra</option>
  <option value="Manipur">Manipur</option>
  <option value="Meghalaya">Meghalaya</option>
  <option value="Nagaland">Nagaland</option>
  <option value="Odisha">Odisha</option>
  <option value="Pondicherry">Pondicherry</option>
  <option value="Punjab">Punjab</option>
  <option value="Rajasthan">Rajasthan</option>
  <option value="Tamil Nadu">Tamil Nadu</option>
  <option value="Telangana">Telangana</option>
  <option value="Tripura">Tripura</option>
  <option value="Uttar Pradesh">Uttar Pradesh</option>
  <option value="Uttrakhand">Uttrakhand</option>
  <option value="West Bengal">West Bengal</option>
</select>
      </div>
      <div class="form-group">
        <label for="input2">District</label>
        <select id="input2" name="input2">
  <option value="Cuddalore">Cuddalore</option>
<option value="Hoshiarpur">Hoshiarpur</option>
<option value="Malappuram">Malappuram</option>
<option value="Gurdaspur">Gurdaspur</option>
<option value="North Tripura">North Tripura</option>
<option value="Ludhiana">Ludhiana</option>
<option value="Surajpur">Surajpur</option>
<option value="Dhar">Dhar</option>
<option value="Kannuj">Kannuj</option>
<option value="Thirssur">Thirssur</option>
<option value="Panchmahals">Panchmahals</option>
<option value="South District">South District</option>
<option value="Sholapur">Sholapur</option>
<option value="Villupuram">Villupuram</option>
<option value="Bahraich">Bahraich</option>
<option value="Khandwa">Khandwa</option>
<option value="Angul">Angul</option>
<option value="Kota">Kota</option>
<option value="Sitapur">Sitapur</option>
<option value="Faridabad">Faridabad</option>
<option value="Gurgaon">Gurgaon</option>
<option value="Bhatinda">Bhatinda</option>
<option value="Kheda">Kheda</option>
<option value="Thanjavur">Thanjavur</option>
<option value="Jalaun (Orai)">Jalaun (Orai)</option>
<option value="Narsinghpur">Narsinghpur</option>
<option value="Thoubal">Thoubal</option>
<option value="Kolhapur">Kolhapur</option>
<option value="Vellore">Vellore</option>
<option value="Anand">Anand</option>
<option value="Vadodara(Baroda)">Vadodara(Baroda)</option>
<option value="Kottayam">Kottayam</option>
<option value="Fatehpur">Fatehpur</option>
<option value="Satara">Satara</option>
<option value="South Andaman">South Andaman</option>
<option value="Sonitpur">Sonitpur</option>
<option value="Malda">Malda</option>
<option value="Mayurbhanja">Mayurbhanja</option>
<option value="Jhansi">Jhansi</option>
<option value="Darrang">Darrang</option>
<option value="Coimbatore">Coimbatore</option>
<option value="Bhadohi(Sant Ravi Nagar)">Bhadohi(Sant Ravi Nagar)</option>
<option value="Kachchh">Kachchh</option>
<option value="Khiri (Lakhimpur)">Khiri (Lakhimpur)</option>
<option value="Ambala">Ambala</option>
<option value="UdhamSinghNagar">UdhamSinghNagar</option>
<option value="Ganjam">Ganjam</option>
<option value="Kolar">Kolar</option>
<option value="Kasargod">Kasargod</option>
<option value="Baran">Baran</option>
<option value="Etawah">Etawah</option>
<option value="Bharuch">Bharuch</option>
<option value="Aligarh">Aligarh</option>
<option value="Lakhimpur">Lakhimpur</option>
<option value="Bastar">Bastar</option>
<option value="Baghpat">Baghpat</option>
<option value="Karaikal">Karaikal</option>
<option value="Muradabad">Muradabad</option>
<option value="Jhabua">Jhabua</option>
<option value="Nadia">Nadia</option>
<option value="Dindigul">Dindigul</option>
<option value="Mirzapur">Mirzapur</option>
<option value="Burdwan">Burdwan</option>
<option value="Ballia">Ballia</option>
<option value="Ahmednagar">Ahmednagar</option>
<option value="Ropar (Rupnagar)">Ropar (Rupnagar)</option>
<option value="Khammam">Khammam</option>
<option value="Jalgaon">Jalgaon</option>
<option value="Nagercoil (Kannyiakumari)">Nagercoil (Kannyiakumari)</option>
<option value="Valsad">Valsad</option>
<option value="Imphal West">Imphal West</option>
<option value="Gautam Budh Nagar">Gautam Budh Nagar</option>
<option value="Kanpur">Kanpur</option>
<option value="Rampur">Rampur</option>
<option value="Hooghly">Hooghly</option>
<option value="Jorhat">Jorhat</option>
<option value="Kollam">Kollam</option>
<option value="Amreli">Amreli</option>
<option value="Gajapati">Gajapati</option>
<option value="Tumkur">Tumkur</option>
<option value="Bankura">Bankura</option>
<option value="Buldhana">Buldhana</option>
<option value="Sonbhadra">Sonbhadra</option>
<option value="Alappuzha">Alappuzha</option>
<option value="Nashik">Nashik</option>
<option value="Nowarangpur">Nowarangpur</option>
<option value="Farukhabad">Farukhabad</option>
<option value="Etah">Etah</option>
<option value="North 24 Parganas">North 24 Parganas</option>
<option value="Patiala">Patiala</option>
<option value="Mau(Maunathbhanjan)">Mau(Maunathbhanjan)</option>
<option value="Kanker">Kanker</option>
<option value="Jalore">Jalore</option>
<option value="Bangalore">Bangalore</option>
<option value="East Khasi Hills">East Khasi Hills</option>
<option value="Dhubri">Dhubri</option>
<option value="Mokokchung">Mokokchung</option>
<option value="Dehradoon">Dehradoon</option>
<option value="Shahjahanpur">Shahjahanpur</option>
<option value="Jhalawar">Jhalawar</option>
<option value="Muzaffarnagar">Muzaffarnagar</option>
<option value="Surat">Surat</option>
<option value="Murshidabad">Murshidabad</option>
<option value="Ramanathapuram">Ramanathapuram</option>
<option value="Medinipur(W)">Medinipur(W)</option>
<option value="Tonk">Tonk</option>
<option value="Sikar">Sikar</option>
<option value="Dharmapuri">Dharmapuri</option>
<option value="Balasore">Balasore</option>
<option value="Kurnool">Kurnool</option>
<option value="Bikaner">Bikaner</option>
<option value="Jalandhar">Jalandhar</option>
<option value="Kurukshetra">Kurukshetra</option>
<option value="Mewat">Mewat</option>
<option value="Chitrakut">Chitrakut</option>
<option value="Bishnupur">Bishnupur</option>
<option value="Ernakulam">Ernakulam</option>
<option value="West Godavari">West Godavari</option>
<option value="Sepahijala">Sepahijala</option>
<option value="Hyderabad">Hyderabad</option>
<option value="Sivaganga">Sivaganga</option>
<option value="Bulandshahar">Bulandshahar</option>
<option value="Erode">Erode</option>
<option value="Karimnagar">Karimnagar</option>
<option value="Dindori">Dindori</option>
<option value="Kangra">Kangra</option>
<option value="Amritsar">Amritsar</option>
<option value="Salem">Salem</option>
<option value="Saharanpur">Saharanpur</option>
<option value="Sundergarh">Sundergarh</option>
<option value="Sheopur">Sheopur</option>
<option value="Muktsar">Muktsar</option>
<option value="Virudhunagar">Virudhunagar</option>
<option value="Nalgonda">Nalgonda</option>
<option value="Krishnagiri">Krishnagiri</option>
<option value="Kullu">Kullu</option>
<option value="Pune">Pune</option>
<option value="Ranga Reddy">Ranga Reddy</option>
<option value="Anupur">Anupur</option>
<option value="Puruliya">Puruliya</option>
<option value="Nagpur">Nagpur</option>
<option value="Namakkal">Namakkal</option>
<option value="Kannur">Kannur</option>
<option value="Raebarelli">Raebarelli</option>
<option value="Agra">Agra</option>
<option value="Mansa">Mansa</option>
<option value="Panipat">Panipat</option>
<option value="Ghaziabad">Ghaziabad</option>
<option value="Imphal East">Imphal East</option>
<option value="Allahabad">Allahabad</option>
<option value="Uttar Dinajpur">Uttar Dinajpur</option>
<option value="Barnala">Barnala</option>
<option value="Kancheepuram">Kancheepuram</option>
<option value="Badgam">Badgam</option>
<option value="Chittor">Chittor</option>
<option value="Chittorgarh">Chittorgarh</option>
<option value="Jharsuguda">Jharsuguda</option>
<option value="Sounth 24 Parganas">Sounth 24 Parganas</option>
<option value="Nizamabad">Nizamabad</option>
<option value="Badwani">Badwani</option>
<option value="Jalpaiguri">Jalpaiguri</option>
<option value="Cachar">Cachar</option>
<option value="North Goa">North Goa</option>
<option value="Mahoba">Mahoba</option>
<option value="Thiruvannamalai">Thiruvannamalai</option>
<option value="Nanded">Nanded</option>
<option value="Bargarh">Bargarh</option>
<option value="Barmer">Barmer</option>
<option value="Thiruvananthapuram">Thiruvananthapuram</option>
<option value="Dhenkanal">Dhenkanal</option>
<option value="Chandel">Chandel</option>
<option value="Kamrup">Kamrup</option>
<option value="Madurai">Madurai</option>
<option value="Tarntaran">Tarntaran</option>
</select>
      </div>
      </div>
      <div class="form-row">
      <div class="form-group">
        <label for="input3">Crop Name</label>
        <input type="text" class="form-control" id="input3" name="input3">
      </div>
      <div class="form-group">
        <label for="input4">Date to released into Market</label>
        <input type="month" class="form-control" id="input4" name="input4">
      </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>