<div class="containerform">
	<div class="row">
	  <div class="col-sm-8 col-sm-offset-2">
		  <!--      Wizard containerform        -->
		  <div class="wizard-containerform">
			  <div class="cardform wizard-cardform" data-color="purple" id="wizard">
				<form action="" method="">
				<!--        You can switch " data-color="rose" "  with one of the next bright colors: "blue", "green", "orange", "purple"        -->
  
							<div class="row">
								<div class="col-sm-12">
									<h4 class="info-text"> Let's start with the basic details</h4>
								</div>
								<div class="col-sm-5 col-sm-offset-1">
									<div class="form-group label-floating">
										<label class="control-label">Nitrogen</label>
										<input type="text" class="form-control" id="exampleInputEmail1">
									</div>
								</div>
  
								<div class="col-sm-5 ">
								  <div class="form-group label-floating">
									  <label class="control-label">phosphorus</label>
									  <input type="text" class="form-control" id="exampleInputEmail1">
								  </div>
							  </div>
  
							  <div class="col-sm-5 col-sm-offset-1">
								<div class="form-group label-floating">
									<label class="control-label">Potassium</label>
									<input type="text" class="form-control" id="exampleInputEmail1">
								</div>
							</div>
  
							<div class="col-sm-5 col-sm-offset-1">
							  <div class="form-group label-floating">
								  <label class="control-label">Humidity</label>
								  <input type="text" class="form-control" id="exampleInputEmail1">
							  </div>
						  </div>
  
						  <div class="col-sm-5 col-sm-offset-1">
							<div class="form-group label-floating">
								<label class="control-label">Rain Fall</label>
								<input type="text" class="form-control" id="exampleInputEmail1">
							</div>
						</div>
  
						<div class="col-sm-5 col-sm-offset-1">
						  <div class="form-group label-floating">
							  <label class="control-label">PH level</label>
							  <input type="text" class="form-control" id="exampleInputEmail1">
						  </div>
					  </div>
							</div>
						  
  </div>
  </div>
  </div>
  </div>
  </div>