{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css/material-dashboard.css' %} ">
    <title>Weather App</title>
</head>
<body>
    
    <div class="weather-container">
    <a href="{% url 'weather_view' %}">Get Weather Data</a>

        <p>Humidity: {{ humidity }}</p>
        <p>Pressure: {{ pressure }}</p>
        <p>Wind Speed: {{ wind_speed }}</p>
        <p>Sunrise: {{ sunrise }}</p>
        <p>Temperature: {{ temperature }}</p>
        <p>Rainfall: {{ rainfall }}</p>
      </div>
</body>
</html>